In [1]:
# 1.Write a program to reverse a string.

In [2]:
s = "Write a program to reverse a string."
s[::-1]

'.gnirts a esrever ot margorp a etirW'

In [3]:
# 2. Check if a string is a palindrome.

In [6]:
s = "madam"
print("Is given string a palindrome: ", s == s[::-1])

Is given string a palindrome:  True

In [7]:
# 3.Convert a string to uppercase.

In [10]:
s= input("Provide a string to make that upper: ")
print("Given string in Upper:", s.upper())

Provide a string to make that upper:  Convert a string to uppercase.

Given string in Upper: CONVERT A STRING TO UPPERCASE.

In [11]:
# 4.Convert a string to uppercase.

In [13]:
s= input("Provide a string to make that lower: ")
print("Given string in Lower:", s.lower())

Provide a string to make that lower:  CONVERT A STRING TO UPPERCASE

Given string in Lower: convert a string to uppercase

In [14]:
# 5. Count the number of vowels in a string.

In [15]:
s= input("Enter a string to find no.of vowels from give: ")
no_of_vowels =  s.count('a')+ s.count('e')+ s.count('i')+ s.count('o')+s.count('u')+s.count('A')+s.count('E')+s.count('I')+s.count('O')+s.count('U')
print("No. of vowels from a given string: ", no_of_vowels)

Enter a string to find no.of vowels from give:  Count the number of vowels in a string.

No. of vowels from a given string:  11

In [17]:
# 6. Count the number of consonants in a string.

In [28]:
s= input("Enter a string to find no.of consonants from give: ")
no_of_vowels =  s.count('a')+ s.count('e')+ s.count('i')+ s.count('o')+s.count('u')+s.count('A')+s.count('E')+s.count('I')+s.count('O')+s.count('U')
print("No. of consonants from a given string: ", len(s) - no_of_vowels)

Enter a string to find no.of consonants from give:  Enter a string to find no.of consonants from give:

No. of consonants from a given string:  36

In [29]:
len(s)

50

In [20]:
# 7. Remove all whitespaces from a string.

In [23]:
s= input("Enter a string to emove all whitespaces: ")
print("Given string without whitespaces: ", s.replace(" ", ""))

Enter a string to emove all whitespaces:  Remove all whitespaces from a string

Given string without whitespaces:  Removeallwhitespacesfromastring

In [24]:
# 8. Find the length of a string without using the `len()` function.

In [4]:
s= input("Enter a string to findout it's length without using len(): ")
count = 0
for i in s:
    count = count+1
    
print("Length of given string: ", count)

Enter a string to findout it's length without using len():  Enter a string to findout it's length without using len():

Length of given string:  58

In [5]:
len(s)

58

In [ ]:
# 9. Check if a string contains a specific word.

In [32]:
s= input("Enter a string: ")
search = input("Enter a word to find from the above data")
print("Given word found from data: ", search in s)

Enter a string:  The simplest way to check if a string contains a specific word is to use the 'in' keyword. This keyword is used to check if a value exists in a sequence, such as a string or a list. In this example, we define a string and check if the word "fox" is in the string using the 'in' keyword
Enter a word to find from the above data suresh

Given word found from data:  False

In [33]:
# 10. Replace a word in a string with another word.

In [1]:
s= input("Enter a string: ")
old_str = input("Enter a word to search: ")
new_str = input("Enter a word to replace in old string")
s.replace(old_str, new_str)

Enter a string:  Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.
Enter a word to search:  CV
Enter a word to replace in old string Computer Vision

'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, Computer Vision, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'

In [36]:
# 11. Count the occurrences of a word in a string.

In [2]:
s= input("Enter a string: ")
word_search = input("Enter a word to find out no.of occurrences: ")
print("No. of occurrences for ", word_search, " are :", s.count(word_search))

Enter a string:  ive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results
Enter a word to find out no.of occurrences:  and

No. of occurrences for  and  are : 2

In [41]:
# 12. Find the first occurrence of a word in a string.
s= input("Enter a string: ")
word_search = input("Enter a word to find out the fist occurence: ")
print("First index of ", word_search, " from a given string is: ", s.find(word_search))

Enter a string:  Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.
Enter a word to find out the fist occurence:  data

First index of  data  from a given string is:  15

In [44]:
# 13. Find the last occurrence of a word in a string.
print("Last index of ", word_search, " from a given string is: ", s.rfind(word_search))

Last index of  data  from a given string is:  355

In [3]:
# 14. Split a string into a list of words.
s= 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
l = s.split(" ")
print( "List of words for a given string are: ", l)

List of words for a given string are:  ['Dive', 'deep', 'into', 'data', 'science', 'with', 'our', 'Full', 'Stack', 'Data', 'Science', 'Pro', 'curriculum.', 'Acquire', 'end-to-end', 'expertise', '–', 'from', 'data', 'exploration', 'and', 'engineering', 'to', 'machine', 'learning,', 'deep', 'learning,', 'CV,', 'Natural', 'Language', 'Process,', 'and', 'prompt', 'engineering', 'implementations.', 'Develop', 'versatile', 'skills', 'for', 'modern', 'data', 'challenges.', 'Cultivate', 'a', 'full', 'spectrum', 'of', 'skills', 'for', 'impactful', 'data-driven', 'results.']

In [5]:
# 15. Join a list of words into a string.
s= 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
l = s.split(" ")
s1 = (" ").join(l)
print("Join a list of words is: ", s1)

Join a list of words is:  Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.

In [49]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [7]:
s= 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
new_str_underscore = s.replace(' ', '_') 
print("New string with under score: ", new_str_underscore)

New string with under score:  Dive_deep_into_data_science_with_our_Full_Stack_Data_Science_Pro_curriculum._Acquire_end-to-end_expertise_–_from_data_exploration_and_engineering_to_machine_learning,_deep_learning,_CV,_Natural_Language_Process,_and_prompt_engineering_implementations._Develop_versatile_skills_for_modern_data_challenges._Cultivate_a_full_spectrum_of_skills_for_impactful_data-driven_results.

In [53]:
# 17. Check if a string starts with a specific word or phrase.

In [10]:
s1 = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
starts_with = "Dive"
print(" Is 's1' starts with ", starts_with, ": ", s1.startswith(starts_with))
starts_with = "dive"
print(" Is 's1' starts with ", starts_with, ": ", s1.startswith(starts_with))

 Is 's1' starts with  Dive :  True
 Is 's1' starts with  dive :  False

In [56]:
# 18. Check if a string ends with a specific word or phrase.

In [11]:
s1 = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'

ends_with = "Dive"
print(" Is 's1' ends with ", ends_with, ": ", s1.endswith(ends_with))
ends_with = "results."
print(" Is 's1' ends with ", ends_with, ": ", s1.endswith(ends_with))

 Is 's1' ends with  Dive :  False
 Is 's1' ends with  results. :  True

In [59]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [12]:
string = "hello world"
print("New string with title case: ", string.title())

New string with title case:  Hello World

In [62]:
# 20. Find the longest word in a string.

In [1]:

s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
l = s.split(' ')
l1 = sorted(l, key=len, reverse=True)
print("longest word from a given data is: ", l1[0])

longest word from a given data is:  implementations.

In [66]:
# 21. Find the shortest word in a string.

In [19]:
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
l = s.split(' ')
l1 = sorted(l, key=len, reverse=False)
print("shortest word from a given data is: ", l1[0])

shortest word from a given data is:  –

In [69]:
# 22. Reverse the order of words in a string.

In [20]:
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
l1 = s.split()
reversed_order_word_string= ' '.join(l1[::-1])
print("Resevsed order of words from given string: ", reversed_order_word_string)

Resevsed order of words from given string:  results. data-driven impactful for skills of spectrum full a Cultivate challenges. data modern for skills versatile Develop implementations. engineering prompt and Process, Language Natural CV, learning, deep learning, machine to engineering and exploration data from – expertise end-to-end Acquire curriculum. Pro Science Data Stack Full our with science data into deep Dive

In [74]:
# 23. Check if a string is alphanumeric.

In [21]:
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'

print("Is given string a alphanumeric: ", s.isalnum())

Is given string a alphanumeric:  False

In [76]:
# 24. Extract all digits from a string.

In [22]:
l = "24 12 2 5 25 Extract all digits from a string.".split()
l1 = []
for i in l:
    if i.isdigit():
        l1.append(i)
print("digits from a given data are: ", l1)

digits from a given data are:  ['24', '12', '2', '5', '25']

In [79]:
# 25. Extract all alphabets from a string.

In [23]:
l = "24 12 2 5 25 Extract all digits from a string.".split()
l1 = []
for i in l:
    if i.isalpha():
        l1.append(i)
print("alphanets from a given data are: ", l1)

alphanets from a given data are:  ['Extract', 'all', 'digits', 'from', 'a']

In [81]:
# 26. Count the number of uppercase letters in a string.

In [25]:
count = 0
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
for i in s.split(' '):
    if i.isupper():
        count = count + 1
print("Number of upper case letters: ", count)

Number of upper case letters:  1

In [83]:
# 27. Count the number of lowercase letters in a string.

In [26]:
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
count = 0
for i in s.split(' '):
    if i.islower():
        count = count + 1
print("Number of lower case letters: ", count)

Number of lower case letters:  38

In [85]:
# 28. Swap the case of each character in a string.

In [24]:
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
new_string = s.swapcase()
print("Data after swapped the case: ", new_string)

Data after swapped the case:  dIVE DEEP INTO DATA SCIENCE WITH OUR fULL sTACK dATA sCIENCE pRO CURRICULUM. aCQUIRE END-TO-END EXPERTISE – FROM DATA EXPLORATION AND ENGINEERING TO MACHINE LEARNING, DEEP LEARNING, cv, nATURAL lANGUAGE pROCESS, AND PROMPT ENGINEERING IMPLEMENTATIONS. dEVELOP VERSATILE SKILLS FOR MODERN DATA CHALLENGES. cULTIVATE A FULL SPECTRUM OF SKILLS FOR IMPACTFUL DATA-DRIVEN RESULTS.

In [87]:
# 29. Remove a specific word from a string.

In [27]:
s = 'Dive deep into data science with our Full Stack Data Science Pro curriculum. Acquire end-to-end expertise – from data exploration and engineering to machine learning, deep learning, CV, Natural Language Process, and prompt engineering implementations. Develop versatile skills for modern data challenges. Cultivate a full spectrum of skills for impactful data-driven results.'
new_string = s.swapcase()
print("Data after removed 'ENGINEERING': ", new_string.replace('ENGINEERING ', ''))

Data after removed 'ENGINEERING':  dIVE DEEP INTO DATA SCIENCE WITH OUR fULL sTACK dATA sCIENCE pRO CURRICULUM. aCQUIRE END-TO-END EXPERTISE – FROM DATA EXPLORATION AND TO MACHINE LEARNING, DEEP LEARNING, cv, nATURAL lANGUAGE pROCESS, AND PROMPT IMPLEMENTATIONS. dEVELOP VERSATILE SKILLS FOR MODERN DATA CHALLENGES. cULTIVATE A FULL SPECTRUM OF SKILLS FOR IMPACTFUL DATA-DRIVEN RESULTS.

In [91]:
# 30. Check if a string is a valid email address.

In [24]:
def is_valid_email(email):
    user_name = email.split('@')[0]
    domain = email.split('@')[1]
    return len(user_name) > 2 and len(domain) > 2 and (domain.rindex('.') + 2 < len(domain));
print("Is Given email is valid: ", is_valid_email(input("Enter email to find out is it a valid: ")))

Enter email to find out is it a valid:  suresh@pwskills.com

Is Given email is valid:  True

In [92]:
#31. Extract the username from an email address string.

In [29]:
email = "suresh@pwskills.com"
print("User name from given email is: ", email.split('@')[0])

User name from given email is:  suresh

In [97]:
#32. Extract the domain name from an email address string.

In [30]:
email = "suresh@pwskills.com"
print("Domain name from given email is: ", email.split('@')[1])

Domain name from given email is:  pwskills.com

In [99]:
# 33. Replace multiple spaces in a string with a single space.

In [2]:
string =" Replace   multiple spaces       in a string with                     a single         space."
l = string.split()
new_string = (' ').join(l)
print("New date after removed multiple spaces: \n", new_string)

New date after removed multiple spaces:
 Replace multiple spaces in a string with a single space.

In [102]:
# 34. Check if a string is a valid URL.

In [60]:

def is_valid_url(url):
    url_split = url.split('://')
    if len(url_split) < 2:
        return False 
    protocal = url_split[0]
    datas = url_split[1] and url_split[1].split(".")
    return protocal in ['http', 'https'] and len(datas) >= 2 and len(''.join(datas[len(datas)-1:])) >= 2

print("Is Given URL is valid: ", is_valid_url(input("Enter URL to find out is it a valid: ")))

Enter URL to find out is it a valid:  https://www.pwskills.com

Is Given URL is valid:  True

In [59]:
url = 'http://www.pwskills.com'
url_split = url.split('://')
protocal ='https'
protocal in ['http', 'https']
datas = url_split[1] and url_split[1].split(".")
print(len(datas[len(datas)-1:]))
print(len(datas[len(datas)-1:]) >= 2)

1
False

In [103]:
# 35. Extract the protocol (http or https) from a URL string.

In [63]:
def extract_protocal(url):
    url_split = url.split('://')
    if len(url_split) < 2:
        return False 
    url_split = url.split('://')
    if len(url_split) < 2:
        return False 
    protocal = url_split[0]
    datas = url_split[1] and url_split[1].split(".")
    if( protocal in ['http', 'https'] and len(datas) >= 2 and len(''.join(datas[len(datas)-1:])) >= 2):
        return protocal
    else:
        return False

url_with_protocal = extract_protocal(input("Enter URL to extract it's protocal: "))
if url_with_protocal != False:
    print("Protocal from give URL: ", url_with_protocal )
else:
    print("Entered URL is not a valid")

Enter URL to extract it's protocal:  http://www.pwskills.com

Protocal from give URL:  http

In [104]:
# 36. Find the frequency of each character in a string.

In [30]:
string =" Replace   multiple spaces       in a string with                     a single         space."
chars_dic = {}
for i in ''.join(string.split()):
    if i.isalpha():
        if chars_dic.get(i) == None:
            chars_dic[i] =  1
        else:
            chars_dic[i] =  chars_dic.get(i) + 1

print(chars_dic)

{'R': 1, 'e': 6, 'p': 4, 'l': 4, 'a': 5, 'c': 3, 'm': 1, 'u': 1, 't': 3, 'i': 5, 's': 5, 'n': 3, 'r': 1, 'g': 2, 'w': 1, 'h': 1}

In [4]:
# 37. Remove all punctuation from a string.

In [33]:
string =" Replace   multiple spaces  % @   ^ * !      in a string with                     a single         space."
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in string:
    if i in punc:
        string = string.replace(i, '')

print("Punctuation string is :", string)

Punctuation string is :  Replace   multiple spaces              in a string with                     a single         space

In [12]:
# 38. Check if a string contains only digits.

In [15]:
a ='12312321s312323' #contains string also, o/p should be False
print("Is string contains only digits: ", a.isdigit())

a ='12312321312323'#contains only digits, o/p should be True
print("Is string contains only digits: ", a.isdigit())

Is string contains only digits:  False
Is string contains only digits:  True

In [14]:
# 39. Check if a string contains only alphabets.

In [20]:
string ="alphabets"
print("Is string contains only alphabets?: ", string.isalpha())

string ="alphabets." #special chars exists so the o/p should be False
print("Is string contains only alphabets?: ", string.isalpha())

Is string contains only alphabets?:  True
Is string contains only alphabets?:  False

In [21]:
# 40. Convert a string to a list of characters.

In [58]:
string = "Convert a string to a list of characters."
s1 = set()
for s in string:
    s1.add(s)
    
print("List of chars from the give string: ", s1)

List of chars from the give string:  {'h', 'f', 'o', 'v', 'e', 'i', 'a', '.', 'C', 't', 'c', 'n', 'l', 'r', 'g', 's', ' '}

In [25]:
# 41. Check if two strings are anagrams.

In [33]:
str1 = "spara1"
str2 = "rasp"
string1 = ''.join(set(sorted(str1)))
string2 = ''.join(set(sorted(str2)))
print("Are those strings are anagrams: ", string1 == string2)

str1 = "spar"
str2 = "rasp"
string1 = ''.join(set(sorted(str1)))
string2 = ''.join(set(sorted(str2)))
print("Are those strings are anagrams: ", string1 == string2)

Are those strings are anagrams:  False
Are those strings are anagrams:  True

In [34]:
# 42. Encode a string using a Caesar cipher.

In [4]:
string = "Convert a string to a list of characters."
s = str.maketrans("abcdefghij", "0123456789")
string = string.translate(s)
string

'Conv4rt 0 str8n6 to 0 l8st o5 270r02t4rs.'

In [37]:
# 43. Decode a Caesar cipher encoded string.

In [6]:
s = str.maketrans("0123456789", "abcdefghij")
# string = "Convert a string to a list of characters."
string = string.translate(s)
string

'Convert a string to a list of characters.'

In [40]:
#44. Find the most frequent word in a string.

In [52]:
str_dic = {}
for i in string.split():
    if i.isalpha():
        if str_dic.get(i) == None:
            str_dic[i] =  1
        else:
            str_dic[i] =  str_dic.get(i) + 1

str_dic = sorted(str_dic.items(), key=lambda item: item[1], reverse=True)
print("Most frequently used word is: ", str_dic[0][0])

Most frequently used word is:  a

In [53]:
#45. Find all unique words in a string.

In [31]:
string = 'Convert a string to a list of characters.'
print("Unique words from the given string", set(string.split()))

Unique words from the given string {'to', 'string', 'a', 'of', 'characters.', 'Convert', 'list'}

In [62]:
# 46. Count the number of syllables in a string.

In [64]:
string =" Count the number of syllables()-[]{};:\,<>./?@#$% in a string."
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
count = 0
for i in string:
    if i in punc:
        count = count + 1

print("Number of symbols from a given data :", count)

Number of symbols from a given data : 21

In [65]:
# 47. Check if a string contains any special characters.

In [67]:
string =" Count the number of syllables()-[]{};:\,<>./?@#$% in a string."
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
count = 0
for i in string:
    if i in punc:
        count = count + 1
        break

print("Does string contains any special Chars :", count > 0)

Does string contains any special Chars : True

In [68]:
# 48. Remove the nth word from a string.

In [75]:
string ="Remove the nth word from a string."
l = string.split()
del l[int(input("enter index to remove a word from the given data: "))]
print("New string is: ", ' '.join(l))

enter index to remove a word from the given data:  5

New string is:  Remove the nth word from string.

In [76]:
# 49. Insert a word at the nth position in a string.

In [81]:
string ="Insert a word at nth position in a string."

word = input("enter word into the data: ")
nth = int(input("ente the index to insert: "))
l = string.split()
l.insert(nth, word)
print(l)
print ("new string with new word: ", ' '.join(l))

enter word into the data:  the
ente the index to insert:  4

['Insert', 'a', 'word', 'at', 'the', 'nth', 'position', 'in', 'a', 'string.']
new string with new word:  Insert a word at the nth position in a string.

In [83]:
#50. Convert a CSV string to a list of lists.

In [13]:
string ="""Name,Age,Country
Alice,25,USA
Bob,30,Canada
Eve,22,UK"""
l = list()
line = 0
for s in string.split("\n"):
    l.append( s.split(","))
    line += 1
print(l)

[['Name', 'Age', 'Country'], ['Alice', '25', 'USA'], ['Bob', '30', 'Canada'], ['Eve', '22', 'UK']]

In [84]:
#List Based Practice Problem :

In [1]:
#1. Create a list with integers from 1 to 10.
l = list(range(1,11))
print("List from 1 to 10 is: ", l)

List from 1 to 10 is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
#2. Find the length of a list without using the `len()` function.
count = 0
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in l:
    count = count + 1
print("No. of items from the list is : ", count)

No. of items from the list is :  10

In [57]:
# 3. Append an element to the end of a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l.extend([11,12,13,14])
print("List after appended: ", l)

List after appended:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [58]:
# 4. Insert an element at a specific index in a list.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l.insert(0, 0)
print("Inserted '0' at zeroth position: ", l)

Inserted '0' at zeroth position:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
#5. Remove an element from a list by its value.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.remove(10)
print("List after removed '10' :", l)

List after removed '10' : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
#6. Remove an element from a list by its index.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
l.pop(11)
print("List after removed 11th index :", l)

List after removed 11th index : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [64]:
# 7. Check if an element exists in a list.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]
print("Check If '0' is present in list: ", l.index(0) >= -1 )
print("Check If '14' is present in list: ", l.index(14) >= -1 )

Check If '0' is present in list:  True
Check If '14' is present in list:  True

In [65]:
# 8. Find the index of the first occurrence of an element in a list.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]
l.append(14)
l.extend([5, 10, 12, 14 , 5])
print("First occurence for '5' is : ", l.index(5) )
print("First occurence for '14' is : ", l.index(14) )

First occurence for '5' is :  5
First occurence for '14' is :  13

In [66]:
#9. Count the occurrences of an element in a list.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]
ele = 5
count = 0
for i in l:
    if i == ele:
        count = count + 1
print(" No.of occurences for '5' is : ", count)
print(" No.of occurences for '5' is : ", l.count(ele))

 No.of occurences for '5' is :  1
 No.of occurences for '5' is :  1

In [67]:
# 10. Reverse the order of elements in a list.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]
print("Reverse order of elelements from the list is: ", l[::-1])

Reverse order of elelements from the list is:  [14, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [69]:
# 11. Sort a list in ascending order.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]
print("Asending order of List: ", sorted(l) )

Asending order of List:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]

In [70]:
# 12. Sort a list in descending order.
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]
print("Asending order of List: ", sorted(l, key = None, reverse = True) )

Asending order of List:  [14, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [4]:
# 13. Create a list of even numbers from 1 to 20.
l = []
for a in range(1, 21):
    if a % 2 != 0:
        continue
    l.append(a)
print("List for Even numbers from 1 to 20: ", l)

List for Even numbers from 1 to 20:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
# 14. Create a list of odd numbers from 1 to 20.
l = []
for a in range(21):
    if a % 2 == 0:
        continue
    l.append(a)

print("List for Odd numbers from 1 to 20: ", l)

List for Odd numbers from 1 to 20:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
# 15. Find the sum of all elements in a list.
sum_elements = 0
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
for i in l:
    sum_elements = sum_elements + i
print("Sum of all elements in a list is : ", sum_elements)
print("Sum of all elements in a list is : ", sum(l))

Sum of all elements in a list is :  158
Sum of all elements in a list is :  158

In [72]:
# 16. Find the maximum value in a list.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]

maximum = 0

for i in l:
    if i > maximum:
        maximum = i

print("Maximum valus from a list is :", maximum)
print("Maximum valus from a list is :", max(l))

Maximum valus from a list is : 14
Maximum valus from a list is : 14

In [73]:
# 17. Find the minimum value in a list.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]

minimum = 0

for i in l:
    if i < minimum:
        minimum = i

print("Maximum valus from a list is :", minimum)
print("Maximum valus from a list is :", min(l))

Maximum valus from a list is : 0
Maximum valus from a list is : 0

In [20]:
# 18. Create a list of squares of numbers from 1 to 10.

l1 = range(1, 11, 1)
squares_list = []

for i in l1:
    squares_list.append(i*i)

print("Squares of numbers from a list are: ", squares_list)

Squares of numbers from a list are:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# 19. Create a list of random numbers.
import random 
rl = []
for i in range(1,11):
    r = random.randint(1, 100)
    rl.append(r)
print("random data: ", rl)

random data:  [31, 71, 85, 72, 54, 54, 98, 2, 76, 94]

In [22]:
# 20. Remove duplicates from a list.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
si = set(l)
new_l = list(si)
print("List without duplicates: ", new_l)

List without duplicates:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14]

In [23]:
# 21. Find the common elements between two lists.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
l1 = [1, 4, 9, 6, 25, 3, 49, 64, 81, 100]
print("Common elements from the list: ", set(l) - ( set(l) - set(l1) ) )

Common elements from the list:  {1, 3, 4, 6, 9}

In [24]:
#22. Find the difference between two lists.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
l1 = [1, 4, 9, 6, 25, 3, 49, 64, 81, 100]

difference_result = set(l).symmetric_difference(set(l1))

print("difference elements from given lists: ", list(difference_result) )

difference elements from given lists:  [64, 0, 2, 5, 7, 8, 10, 11, 12, 14, 81, 25, 100, 49]

In [25]:
# 23. Merge two lists.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
l1 = [1, 4, 9, 6, 25, 3, 49, 64, 81, 100]
l.extend(l1)
print("New list after merge :", l )

New list after merge : [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14, 1, 4, 9, 6, 25, 3, 49, 64, 81, 100]

In [26]:
# 24. Multiply all elements in a list by 2.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
new_list = []

for i in l:
    new_list.append( i * 2 )

print("New list Multiply all elements in a list by 2: ", new_list)

New list Multiply all elements in a list by 2:  [0, 2, 4, 6, 8, 10, 10, 10, 12, 14, 16, 18, 20, 22, 24, 28, 28, 28, 28, 28]

In [27]:
# 25. Filter out all even numbers from a list.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
new_list = []

for i in l:
    if i % 2 == 0:
        new_list.append( i )

print("New list with even numbers: ", new_list)

New list with even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 14, 14, 14, 14]

In [28]:
# 26. Convert a list of strings to a list of integers.
sl = ['1', '2', '3', '4', '5']
il = []
for i in sl:
    il.append(int(i))

print("New list for integers: ", il)

New list for integers:  [1, 2, 3, 4, 5]

In [29]:
# 27. Convert a list of integers to a list of strings.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
sl = []

for i in l:
    sl.append(str(i))

print("New list for strings: ", sl)

New list for strings:  ['0', '1', '2', '3', '4', '5', '5', '5', '6', '7', '8', '9', '10', '11', '12', '14', '14', '14', '14', '14']

In [31]:
# 28. Flatten a nested list.
il = [1, 2, 3, 4, 5]
il.append([8,3,4,52,45])

print("actual List: ", il)

flat_list = []

for i in il:
    if type(i) == list:
            flat_list.extend(i)
    else:
        flat_list.append(i)

print("Flatten List : ", flat_list)

actual List:  [1, 2, 3, 4, 5, [8, 3, 4, 52, 45]]
Flatten List :  [1, 2, 3, 4, 5, 8, 3, 4, 52, 45]

In [32]:
# 30. Check if a list is sorted.
l = [0, 1, 2, 3, 4, 5, 15, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
print("Is given list sorted: ", l == sorted(l))
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
print("Is given list sorted: ", l == sorted(l))

Is given list sorted:  False
Is given list sorted:  True

In [33]:
# 33. Create a list of prime numbers up to 50.
list_new = range(2,51)
prime_nums = []

for i in list_new: 
    for j in list_new:
        if i%j == 0:
            break
    if i == j:
        prime_nums.append(i)

print("List of prime numbers up to 50: ", prime_nums)

List of prime numbers up to 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [34]:
# 35. Find the second largest number in a list.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
sl = list(set(l))
sl = sorted(sl, key=None, reverse=True)
print("2nd largest number from the given list: ", sl[1])

2nd largest number from the given list:  12

In [35]:
# 36. Replace every element in a list with its square.
l = [0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14]
item = 0 

for i in l:
    l[item] = i * i
    item = item + 1

print("New list wit squares: ", l)

New list wit squares:  [0, 1, 4, 9, 16, 25, 25, 25, 36, 49, 64, 81, 100, 121, 144, 196, 196, 196, 196, 196]

In [36]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
l1 = [0, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14, 15]
dc= {}

for i in l1:
    dc[i] = l1.index(i)

print("Dictionary for a give list: ", dc)

Dictionary for a give list:  {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 14: 14, 15: 19}

In [37]:
# 38. Shuffle the elements of a list randomly.
import random
l1 = [0, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 14, 14, 14, 14, 14, 15]
random.shuffle(l1)
print("Shuffled list :", l1)

Shuffled list : [15, 10, 14, 14, 5, 0, 14, 6, 1, 8, 5, 14, 11, 12, 4, 9, 2, 3, 7, 14]

In [38]:
# 39. Create a list of the first 10 factorial numbers.

In [35]:
fl = []

def factorial(l):
    factorial_number = 1
    for n in list(range(1, l+1)):
        factorial_number = factorial_number * 2
    return factorial_number

for x in list(range(1, 11)):
    fl.append(factorial(x))
    
print("A list of the first 10 factorial numbers are: ", fl)

A list of the first 10 factorial numbers are:  [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [39]:
# 40. Check if two lists have at least one element in common.
l2 = [1,2,3,4,5,6]
l3 = [7,8,9,1,8,9]
sl2 = set(l2)
sl3 = set(l3)
print("Are there any common elements present from l2 and l3: ", len(sl2.intersection(sl3)) > 0)

Are there any common elements present from l2 and l3:  True

In [41]:
# 41. Remove all elements from a list.
l2 = [1,2,3,4,5,6]
l2.clear()
print("Any elements present in l2: ", len(l2) > 0, "\nElements are: ", l2)

Any elements present in l2:  False
Elements are:  []

In [42]:
# 42. Replace negative numbers in a list with 0.
l2 = [1,2,-3,4,-5,6]

for i in l2:
    if i < 0:
        l2[l2.index(i)] = 0
    
print("New data list with positive numbers: ", l2)

New data list with positive numbers:  [1, 2, 0, 4, 0, 6]

In [43]:
# 43. Convert a string into a list of words.
s1 = "43. Convert a string into a list of words."
l11 = s1.split()
print("A List from a string: ", l11)

A List from a string:  ['43.', 'Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']

In [44]:
# 44. Convert a list of words into a string.
l11 = ['44.', 'Convert', 'a', 'list', 'of', 'words', 'into', 'a', 'string.']
print("A String from a list: ", ' '.join(l11))

A String from a list:  44. Convert a list of words into a string.

In [45]:
# 45. Create a list of the first `n` powers of 2.

In [36]:
def n_pow_2(x):
    return pow(x, 2)

n = int(input("Enter a number to find first 'n' powers of 2:"))
l1 = list()
for i in range(1, n+1):
    l1.append(n_pow_2(i))

print("A List of the first 'n' powers of 2:", l1)

Enter a number to find first 'n' powers of 2: 5

A List of the first 'n' powers of 2: [1, 4, 9, 16, 25]

In [46]:
# 46. Find the longest string in a list of strings.
s1 = "Find the longest string in the list of strings."
l1 = s1.split(' ')
l2 = sorted(l1, key=len, reverse=True)
print("longest word from a given data is: ", l2[0])

longest word from a given data is:  strings.

In [47]:
#47. Find the shortest string in a list of strings.
s1 = "Find the shortest string in the list of strings."
l1 = s1.split(' ')
l2 = sorted(l1, key=len)
print("longest word from a given data is: ", l2[0])

longest word from a given data is:  in

In [48]:
# 48. Create a list of the first `n` triangular numbers.

In [20]:
n = int(input("Enter a number create triangular numbers: "))
tri_nums = []
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    tri_nums.append(tri_num)

print(tri_nums)

Enter a number create triangular numbers:  20

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210]

In [49]:
#49. Check if a list contains another list as a subsequence.

In [3]:
l = [1, 2, 3, [11,12,13], 21, 22, 23, 24, [31,32,33,34] ]
#l = [1, 2, 3,  21, 22, 23, 24 ]
bFlag = False
for a in l:
    if type(a) == list:
        bFlag = True
        
print("Is a list contains another list as a subsequence:", bFlag)

Is a list contains another list as a subsequence: False

In [50]:
# 50. Swap two elements in a list by their indices.
l2 = "Swap two elements in a list by their indices".split()
print("Actual list is: ", l2)
i1 = int(input("first index to swap from the list: "))
i2 = int(input("next index to swap from the list: "))
temp = l2[i1]
l2[i1] = l2[i2]
l2[i2] = temp
print("List after swapped: ", l2)

Actual list is:  ['Swap', 'two', 'elements', 'in', 'a', 'list', 'by', 'their', 'indices']

first index to swap from the list:  1
next index to swap from the list:  7

List after swapped:  ['Swap', 'their', 'elements', 'in', 'a', 'list', 'by', 'two', 'indices']

In [51]:
#Tuple Based Practice Problem :

In [52]:
#1. Create a tuple with integers from 1 to 5.
t = tuple(range(1, 6))
print("A ", type(t), " with integers: ", t)

A  <class 'tuple'>  with integers:  (1, 2, 3, 4, 5)

In [53]:
#2. Access the third element of a tuple.
t = tuple(range(1, 6))
print("Third element from a tuple: ", t[2])

Third element from a tuple:  3

In [54]:
#3. Find the length of a tuple without using the `len()` function.
t = tuple(range(1, 6))
length = 0
for i in t:
    length = length + 1

print("Length of tuple with out using len(): ", length)

Length of tuple with out using len():  5

In [55]:
#4. Count the occurrences of an element in a tuple.
t = (345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19)
n = int(input("Enter an element to find out it's occurrences: "))
print("No of occurrences of an element from a given tuple: ", t.count(n))

Enter an element to find out it's occurrences:  19

No of occurrences of an element from a given tuple:  5

In [56]:
# 5. Find the index of the first occurrence of an element in a tuple.
t = (345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19)
n = int(input("Enter an element to find out it's index: "))
print("Index of an element from a given tuple: ", t.index(n))

Enter an element to find out it's index:  678

Index of an element from a given tuple:  5

In [57]:
# 6. Check if an element exists in a tuple.
t = (345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19)
n = int(input("Enter an element to findout it's existance from the tuple: "))
print("Is given element present in a tuple: ", t.index(n) >=0 )

Enter an element to findout it's existance from the tuple:  75

Is given element present in a tuple:  True

In [59]:
# 7. Convert a tuple to a list.
t = (345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19)
l = list(t)
print("Converted ", type(l), " from the given tuple: ", l)

Converted  <class 'list'>  from the given tuple:  [345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19]

In [60]:
# 8. Convert a list to a tuple.
l = [345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19]
t = tuple(l)
print("Converted ", type(t), " from the given ", type(l),": ", t)

Converted  <class 'tuple'>  from the given  <class 'list'> :  (345, 19, 25, 5, 234, 678, 19, 5, 23, 19, 75, 89, 19, 19)

In [61]:
# 9. Unpack the elements of a tuple into variables.
t = (1, 2, 3, 4, 5)
n1, n2, n3, n4, n5 = t
print("Variable values from a typle: ", n1, n2, n3, n4, n5)

Variable values from a typle:  1 2 3 4 5

In [7]:
#10. Create a tuple of even numbers from 1 to 10.
t = tuple()

for a in range(1,11):
    if a % 2 != 0:
        continue
    t = t + (a, )
print("Even numbers from 1 to 10 in tuple format: ", t)

Even numbers from 1 to 10 in tuple format:  (2, 4, 6, 8, 10)

In [8]:
#11. Create a tuple of odd numbers from 1 to 10.
t = tuple()

for a in range(11):
    if a % 2 == 0:
        continue
    t = t + (a, )
print("Odd numbers from 1 to 10 in tuple format: ", t)

Odd numbers from 1 to 10 in tuple format:  (1, 3, 5, 7, 9)

In [10]:
#12. Concatenate two tuples.
t_odd = (1, 3, 5, 7, 9)
t_even = (2, 4, 6, 8, 10)
t_results = t_even + t_odd
print("Concatinate two tuples: ", t_results)

Concatinate two tuples:  (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [65]:
#13. Repeat a tuple three times.
t1 = tuple(range(1,11))
t_results = t1 * 3
print("Repeating 3 times a tuple: ", t_results)

Repeating 3 times a tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [66]:
# 14. Check if a tuple is empty.
t1 = tuple(range(1,11))
print("Is given tuple empty?: ", len(t1) == 0)
t1 = tuple()
print("Is given tuple empty?: ", len(t1) == 0)

Is given tuple empty?:  False
Is given tuple empty?:  True

In [67]:
# 15. Create a nested tuple.
t1 = (1,2,3,4,(5,6,7,8))
print("Nested typle: ", t1)

Nested typle:  (1, 2, 3, 4, (5, 6, 7, 8))

In [68]:
#16. Access the first element of a nested tuple.
t1 = (1,2,3,4,(5,6,7,8), (10,11,12,13,14), (20,21,22, 23))

for i in t1:
    if type(i) == tuple:
        print("First of Elements of nested tuples: ", i[0])

First of Elements of nested tuples:  5
First of Elements of nested tuples:  10
First of Elements of nested tuples:  20

In [69]:
#17. Create a tuple with a single element.
t2 =(1,)
print("Single element ", type(t2), " is : ", t2)

Single element  <class 'tuple'>  is :  (1,)

In [70]:
# 18. Compare two tuples.
t2 = (1, 2, 3, 4 )
t3 = (1, 2, 3, 4 )
t4 = (1, 5, 6, 7 )
print("Is both tuples 't2', 't3' are equal: ", t2 == t3)
print("Is both tuples 't2', 't4' are equal: ", t2 == t4)

Is both tuples 't2', 't3' are equal:  True
Is both tuples 't2', 't4' are equal:  False

In [71]:
# 19. Delete a tuple.
t4 = (1, 5, 6, 7 )
print("elements from tuple are : ", t4)
del t4
print("elements from tuple are : ", t4)

elements from tuple are :  (1, 5, 6, 7)

NameError: name 't4' is not defined

In [72]:
# 20. Slice a tuple.
t4 = (1, 5, 6, 7 )
print("Slices from tuple are: ", t4[0:3])
print("Slices from tuple are: ", t4[1:5])

Slices from tuple are:  (1, 5, 6)
Slices from tuple are:  (5, 6, 7)

In [73]:
#21. Find the maximum value in a tuple.
t4 = (1, 5, 6, 7 )
print("Maximum value from a tuple is: ", max(t4))

Maximum value from a tuple is:  7

In [74]:
#22. Find the minimum value in a tuple.
t4 = (1, 5, 6, 7 )
print("Minimum value from a tuple is: ", min(t4))

Minimum value from a tuple is:  1

In [75]:
#23. Convert a string to a tuple of characters.
string = 'characters'
t1 = tuple(string)
print(type(t1)," of characters from string : ", t1)

<class 'tuple'>  of characters from string :  ('c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's')

In [76]:
#24. Convert a tuple of characters to a string.
t1 = ('c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's')
string = ''.join(t1)
print("Formed ", type(string), " from a tuple: ", string)

Formed  <class 'str'>  from a tuple:  characters

In [32]:
#25. Create a tuple from multiple data types.
i =1
f = 2.5
b = True
string = 'string'
t1 = (i, f, b, string)
print("tuple from multiple data types: ", t1, type(t1))

tuple from multiple data types:  (1, 2.5, True, 'string') <class 'tuple'>

In [75]:
#26. Check if two tuples are identical.
t2 = (1, 2, 3, 4 )
t3 = (1, 2, 3, 4 )
print("Is both tuples 't2', 't3' are identical: ", t2 == t3)

Is both tuples 't2', 't3' are identical:  True

In [79]:
#27. Sort the elements of a tuple.
t2 = (10, 2, 7,1, 234, 203, 45, 23, 75, 105)
t3 = sorted(t2, key = None, reverse = False)
print("Sorted tuple is: ", t3)

Sorted tuple is:  [1, 2, 7, 10, 23, 45, 75, 105, 203, 234]

In [80]:
#28. Convert a tuple of integers to a tuple of strings.
t1 = tuple(range(1, 21))
print("Integer tuple: ", t1)
t2 = ()

for i in t1:
    t2 = t2 + (str(i),)

print("String tuple: ", t2)

Integer tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
String tuple:  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')

In [82]:
#29. Convert a tuple of strings to a tuple of integers.
t1 = ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')
print("Sting tuple: ", t1)
t2 = ()

for i in t1:
    t2 = t2 + (int(i),)

print("Integer tuple: ", t2)

Sting tuple:  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')
Integer tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [83]:
# 30. Merge two tuples.
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
t2 = ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')
t3 = t1 + t2
print("New tuple: ", t3)

New tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20')

In [84]:
# 31. Flatten a nested tuple.
t1 = (1, 2, 3, 4, 5, (6, 7, 8, 9, 10), 11, 12, 13, 14, 15, (16, 17, 18, 19, 20))
t2 = ()
for i in t1:
    if type(i) == tuple:
        t2 = t2 + i
    else:
        t2 = t2 + (i,)

print("New tuple without nested tuple is: ", t2)

New tuple without nested tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [85]:
# 32. Create a tuple of the first 5 prime numbers.
list_new = tuple(range(2,40))
prime_nums = ()

for i in list_new: 
    for j in list_new:
        if i%j == 0:
            break
    if i == j:
        prime_nums = prime_nums + (i,)
    if len(prime_nums) == 5:
        break
print("Tuple of first  5 prime numbers: ", prime_nums)

Tuple of first  5 prime numbers:  (2, 3, 5, 7, 11)

In [86]:
# 33. Check if a tuple is a palindrome.

In [6]:
t1= ('a', 'b', 'c', 'd', 'b', 'a')
print("Is tuple a plindorme: ", t1 == t1[::-1])
t1= ('a', 'b', 'c', 'b', 'a')
print("Is tuple a plindorme: ", t1 == t1[::-1])

Is tuple a plindorme:  False
Is tuple a plindorme:  True

In [87]:
# 34. Create a tuple of squares of numbers from 1 to 5.
t1 = tuple(range(1, 6))
t2 = ()
for i in t1:
    t2 = t2 + ( i * i ,)

print("Squares of each element from a tuple : ", t2)

Squares of each element from a tuple :  (1, 4, 9, 16, 25)

In [88]:
#35. Filter out all even numbers from a tuple.
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

def even(x):
    return x % 2 == 0

t2 = filter(even, t1)

print("Even numbers from a tuple: ", tuple(t2))

Even numbers from a tuple:  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [89]:
# 36. Multiply all elements in a tuple by 2.
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
t2 = ()
for i in t1:
    t2 = t2 + (i*2,)

print("All elements multiplied by 2 : ", t2)

All elements multiplied by 2 :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40)

In [1]:
# 37. Create a tuple of random numbers.

In [2]:
import random 
rt = ()
for i in range(1,11):
    r = random.randint(1, 100)
    rt = rt + (r,)
print("random tuple: ", rt)

random tuple:  (26, 19, 69, 1, 93, 11, 100, 29, 39, 79)

In [3]:
# 38. Check if a tuple is sorted.
t1 = (76, 34, 59, 5, 49, 19, 21, 19, 99, 90)
sorted_tuple = sorted(t1, key=None, reverse = False) 
print("Is given tuple is sorted: ", t1 == sorted_tuple)

Is given tuple is sorted:  False

In [4]:
# 39. Rotate a tuple to the left by `n` positions.

In [39]:
t1 = (76, 34, 59, 5, 49, 19, 21, 19, 99, 90)
n = int(input("Enter a number to rotate a tuple to left by 'n' positions: "))
nt = t1[n:] + t1[:n]
print("A New tuple after rotate a tuple to the left by `n` positions: ", nt)

Enter a number to rotate a tuple to left by 'n' positions:  5

A New tuple after rotate a tuple to the left by `n` positions:  (19, 21, 19, 99, 90, 76, 34, 59, 5, 49)

In [5]:
#40. Rotate a tuple to the right by `n` positions.

In [41]:
t1 = (76, 34, 59, 5, 49, 19, 21, 19, 99, 90)
n = int(input("Enter a number to rotate a tuple to right by 'n' positions: "))
nt = t1[-n:] + t1[:-n]
print("A New tuple after rotate a tuple to the right by `n` positions: ", nt)

Enter a number to rotate a tuple to right by 'n' positions:  4

A New tuple after rotate a tuple to the right by `n` positions:  (21, 19, 99, 90, 76, 34, 59, 5, 49, 19)

In [7]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [23]:

def fibonacci(n):
    a = [0, 1]
    [a.append(a[-1]+a[-2]) for i in range(n)]
    return tuple(a)
t = fibonacci(5)
print("First 5 Fiboncci numbers are: ", t)

First 5 Fiboncci numbers are:  (0, 1, 1, 2, 3, 5, 8)

In [8]:
# 42. Create a tuple from user input.
t1 = ()
while( True):
    r = int(input("enter a number to create a tuple(to exit use -1): "))
    if( r == -1 ):
        break
    else:
        t1 = t1  + (r, )

print("Created tuple from user input: ", t1)

enter a number to create a tuple(to exit use -1):  9
enter a number to create a tuple(to exit use -1):  4
enter a number to create a tuple(to exit use -1):  6
enter a number to create a tuple(to exit use -1):  23
enter a number to create a tuple(to exit use -1):  67
enter a number to create a tuple(to exit use -1):  103
enter a number to create a tuple(to exit use -1):  -1

Created tuple from user input:  (9, 4, 6, 23, 67, 103)

In [77]:
#43. Swap two elements in a tuple.
t1 = ( 10, 20 )
print("Acutal tuple is: ", t1)
t1 = (t1[1], t1[0])
print("swapped tuple is: ", t1)

Acutal tuple is:  (10, 20)
swapped tuple is:  (20, 10)

In [10]:
# 44. Reverse the elements of a tuple.
t1 = (76, 34, 59, 5, 49, 19, 21, 19, 99, 90)

print("Actual tuple is: ", t1)
print("Reversed elements tuple is: ", t1[::-1])

Actual tuple is:  (76, 34, 59, 5, 49, 19, 21, 19, 99, 90)
Reversed elements tuple is:  (90, 99, 19, 21, 19, 49, 5, 59, 34, 76)

In [11]:
# 45. Create a tuple of the first `n` powers of 2.

n  = int(input(" enter a number to create a tuple of n powers of 2: "))
t1 = tuple( 2 ** j for j in range(1, n+1))
print(n, " powers of 2 in tuple is: ", t1)

 enter a number to create a tuple of n powers of 2:  7

7  powers of 2 in tuple is:  (2, 4, 8, 16, 32, 64, 128)

In [12]:
# 46. Find the longest string in a tuple of strings.
t1=  ('Find', 'the', 'longest', 'string', 'in', 'a', 'tuple', 'of', 'strings.')
t2 = sorted(t1, key = len, reverse = True)
print("Longest string in a tuple is: ",t2[0])

Longest string in a tuple is:  strings.

In [13]:
# 47. Find the shortest string in a tuple of strings.
t1=  ('Find', 'the', 'longest', 'string', 'in', 'a', 'tuple', 'of', 'strings.')
t2 = sorted(t1, key = len)
print("Longest string in a tuple is: ",t2[0])

Longest string in a tuple is:  a

In [14]:
#48. Create a tuple of the first `n` triangular numbers.

In [24]:
n = int(input("Enter a number create triangular numbers: "))
tri_nums = tuple()
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    tri_nums += (tri_num,)

print(tri_nums)

Enter a number create triangular numbers:  6

(1, 3, 6, 10, 15, 21)

In [16]:
# 49. Check if a tuple contains another tuple as a subsequence.

In [12]:
t = (1, 2, 3, (11,12,13), 21, 22, 23, 24, (31,32,33,34) )
#t = (1, 2, 3,  21, 22, 23, 24 )
bFlag = False
for a in t:
    if type(a) == tuple:
        bFlag = True
        
print("Is a Tuple contains another tuple as a subsequence:", bFlag)

Is a Tuple contains another tuple as a subsequence: True

In [15]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = int(input("Enter an element to print 1s and 0s: "))
t1 = tuple( j%2 for j in range(1, n+1) )
print("A tuple of alternating 1s and 0s are: ", t1)

Enter an element to print 1s and 0s:  10

A tuple of alternating 1s and 0s are:  (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [17]:
#Set Based Practice Problem :

In [1]:
# 1. Create a set with integers from 1 to 5.
s = set(range(1, 6))
print("Set with integers from 1 to 5 is: ", s)

Set with integers from 1 to 5 is:  {1, 2, 3, 4, 5}

In [2]:
# 2. Add an element to a set.
s = set(range(1, 6))
s.add(7)
print("Set with integers from 1 to 5 is: ", s)

Set with integers from 1 to 5 is:  {1, 2, 3, 4, 5, 7}

In [3]:
# 3. Remove an element from a set.
s = set(range(1, 6))
print("Set with integers from 1 to 5 is: ", s)
n = int(input("Enter element to remove from a set 1 to 5: "))
s.remove(n)
print("Set after removed ", n, " is: ", s)

Set with integers from 1 to 5 is:  {1, 2, 3, 4, 5}

Enter element to remove from a set 1 to 5:  4

Set after removed  4  is:  {1, 2, 3, 5}

In [4]:
#4. Check if an element exists in a set.
s = set(range(1, 6))
print("Set with integers from 1 to 5 is: ", s)
n = int(input("Enter element for existance from a set 1 to 5: "))
print("Is entered element present in a set : ", (n in s))

Set with integers from 1 to 5 is:  {1, 2, 3, 4, 5}

Enter element for existance from a set 1 to 5:  5

Is entered element present in a set :  True

In [5]:
# 5. Find the length of a set without using the `len()` function.
s = set(range(1, 6))
print("Set with integers from 1 to 5 is: ", s)
n = 0
for i in s:
    n = n + 1
print("length of given set is : ", n)

Set with integers from 1 to 5 is:  {1, 2, 3, 4, 5}
length of given set is :  5

In [6]:
#6. Clear all elements from a set.
s = set(range(1, 6))
print("Set with integers from 1 to 5 is: ", s)
s.clear()
print("element from a set : ", s)

Set with integers from 1 to 5 is:  {1, 2, 3, 4, 5}
element from a set :  set()

In [13]:
# 7. Create a set of even numbers from 1 to 10.
s = set()
for a in range(1,11):
    if a % 2 != 0:
        continue
    s.add(a)
print("Set with even numbers from 1 to 10 is: ", s)

Set with even numbers from 1 to 10 is:  {2, 4, 6, 8, 10}

In [14]:
# 8. Create a set of odd numbers from 1 to 10.
s = set()
for a in range(1,11):
    if a % 2 == 0:
        continue
    s.add(a)
print("Set with odd numbers from 1 to 10 is: ", s)

Set with odd numbers from 1 to 10 is:  {1, 3, 5, 7, 9}

In [9]:
# 9. Find the union of two sets.
s1 = set(range(1, 11, 2))
s2 = set(range(2, 11, 2))
print("union of 2 sets: ", s1.union(s2))

union of 2 sets:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
# 10. Find the intersection of two sets.
s1 = {1, 3, 5, 7, 9}
s2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("intersection of 2 sets: ", s1.intersection(s2))

intersection of 2 sets:  {1, 3, 5, 7, 9}

In [11]:
# 11. Find the difference between two sets.
s1 = {1, 3, 5, 7, 9}
s2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("differences from 2 sets: ", s1.symmetric_difference(s2))

differences from 2 sets:  {2, 4, 6, 8, 10}

In [12]:
#12. Check if a set is a subset of another set.
s1 = {1, 3, 5, 7, 9}
s2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("a set is subset of another sets: ", s1.issubset(s2))

a set is subset of another sets:  True

In [13]:
#13. Check if a set is a superset of another set.
s1 = {1, 3, 5, 7, 9}
s2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print("a set is superset of another sets: ", s2.issuperset(s1))

a set is superset of another sets:  True

In [14]:
#14. Create a set from a list.
l = range(1, 21)
s = set(l)
print("type of s is : ", type(s), " and Set is :", s)

type of s is :  <class 'set'>  and Set is : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [15]:
#15. Convert a set to a list.
s = set(range(1, 21))
l = list(s)
print("type of l is : ", type(l), " and List is :", l)

type of l is :  <class 'list'>  and List is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
#16. Remove a random element from a set.

In [43]:
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
n = int(input("Enter random element from 1 to 20, to remove from it's set: "))
s.remove(n)
print("New set after remove a random element: ", s)

Enter random element from 1 to 20, to remove from it's set:  20

New set after remove a random element:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [17]:
#17. Pop an element from a set.
s = set(range(1, 21))

print("after removed random element from a sets: ", s.pop())
print("after removed random element from a sets: ", s.pop())
print("after removed random element from a sets: ", s.pop())

after removed random element from a sets:  1
after removed random element from a sets:  2
after removed random element from a sets:  3

In [18]:
#18. Check if two sets have no elements in common.
s1 = set(range(1, 21))
s2 = set(range(31, 51))
print("Is there any common elements from given sets: ", len(s1.intersection(s2)) != 0 )

Is there any common elements from given sets:  False

In [19]:
# 19. Find the symmetric difference between two sets.
s1 = {1, 5, 6, 7, 8, 10}
s2 = {5, 6, 2, 9, 10, 11}
print("sysmmetric difference from a given sets are: ", s1.symmetric_difference(s2))

sysmmetric difference from a given sets are:  {1, 2, 7, 8, 9, 11}

In [20]:
#20. Update a set with elements from another set.
s1 = {1, 5, 6, 7, 8, 10}
s2 = {5, 6, 2, 9, 10, 11}
s1.update(s2)
print("After Updated a set: ", s1)

After Updated a set:  {1, 2, 5, 6, 7, 8, 9, 10, 11}

In [37]:
# 21. Create a set of the first 5 prime numbers.
s1 = set()

def isPrime(num):
    bFlase = False
    if num > 1:
       # check for factors
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           return True

n = 2;
while(True):
    if(isPrime(n) == True):
        s1.add( n )
    if len(s1) == 5:
        break
    n = n + 1

print("Prime numbers from the given numbers: ", s1)

Prime numbers from the given numbers:  {2, 3, 5, 7, 11}

In [22]:
# 22. Check if two sets are identical.
s1 = {1, 5, 6, 7, 8, 10}
s2 = {5, 6, 2, 9, 10, 11}
s3 = {1, 5, 6, 7, 8, 10}

print(" Are two sets identical: ", s1 == s2)
print(" Are two sets identical: ", s1 == s3)

 Are two sets identical:  False
 Are two sets identical:  True

In [23]:
# 23. Create a frozen set.
vs = ('a', 'e', 'i', 'o', 'u')

fSet = frozenset(vs)
print('The frozen set is:', fSet)
# frozensets are immutable
fSet.add('v')

The frozen set is: frozenset({'u', 'a', 'e', 'o', 'i'})

AttributeError: 'frozenset' object has no attribute 'add'

In [24]:
# 24. Check if a set is disjoint with another set.
s1 = {1, 5, 6, 7, 8, 10}
s2 = {5, 6, 2, 9, 10, 11}
print("A set is disjoint with another set: ", s1.isdisjoint(s2))

s1 = {1, 5, 6, 7, 8, 10}
s2 = {2, 9, 11}
print("A set is disjoint with another set: ", s1.isdisjoint(s2))

A set is disjoint with another set:  False
A set is disjoint with another set:  True

In [25]:
#26. Filter out all even numbers from a set.
s1 = {1, 5, 6, 7, 8, 10} 
def myFilter(a):
    return (a % 2 ==0)
s2= set(filter(myFilter, s1))
print("Even numbers form set: ", s2)

Even numbers form set:  {8, 10, 6}

In [26]:
#27. Multiply all elements in a set by 2.
def myMultiply(a):
    return a * 2
s1 = {1, 5, 6, 7, 8, 10} 
s2 = set()
for i in s1:
    s2.add(myMultiply(i))
print("Even numbers form set: ", s2)

Even numbers form set:  {2, 10, 12, 14, 16, 20}

In [27]:
#28. Create a set of random numbers.
import random as ran
def getRandomInt():
    return ran.randint(0, 100)

s2 = set()
for i in range(1,10):
    s2.add(getRandomInt())
print("randome integers: ", s2)

randome integers:  {32, 66, 2, 100, 68, 40, 20, 59, 29}

In [29]:
#29. Check if a set is empty.
s2 = set()
print("Is set empty(): ", len(s2) == 0)
s2.add(1)
print("Is set empty(): ", len(s2) == 0)

Is set empty():  True
Is set empty():  False

In [30]:
#30. Create a nested set (hint: use frozenset).

In [27]:
s = set([frozenset([1,2]), frozenset([3,4])])
print(s)

{frozenset({3, 4}), frozenset({1, 2})}

In [31]:
#31. Remove an element from a set using the discard method.
s1 = {66, 7, 39, 74, 14, 48, 59, 60, 61}
print("set is :", s1 )
s1.discard(74)
print("set is after removed an element by using discard:", s1 )

set is : {66, 7, 39, 74, 14, 48, 59, 60, 61}
set is after removed an element by using discard: {66, 7, 39, 14, 48, 59, 60, 61}

In [32]:
#32. Compare two sets.
s1 = {66, 7, 39, 74, 14, 48, 59, 60, 61}
s2 = {66, 7, 39, 74, 14, 48, 59, 60, 61}
print(" both seare are equal by using equal operator: ", s1 == s2)
print(" both seare are equal by using 'is' operator ", s1 is s2)

 both seare are equal by using equal operator:  True
 both seare are equal by using 'is' operator  False

In [33]:
#33. Create a set from a string.
string = 'Create a set from a string.'
s1 = set(string.split())
print("Created set from a string: ", s1)

Created set from a string:  {'Create', 'a', 'set', 'string.', 'from'}

In [34]:
#34. Convert a set of strings to a set of integers.
s1 = { '1', '2', '3', '4', '5', '6' }
def string_2_integer(x):
    return int(x)
s2 = set()
for i in s1:
    s2.add(string_2_integer(i))

print("Set of integers: ", s2)

Set of integers:  {1, 2, 3, 4, 5, 6}

In [35]:
#35. Convert a set of integers to a set of strings.
s1 = {1, 2, 3, 4, 5, 6}
def integer_2_string(x):
    return str(x)
s2 = set()
for i in s1:
    s2.add(integer_2_string(i))

print("Set of strings: ", s2)

Set of strings:  {'3', '1', '5', '2', '4', '6'}

In [36]:
#36. Create a set from a tuple.
t1 = (1, 2, 3, 4, 5, 6)
s1 =  set(t1)
print("Set from a tuple : ", s1, " type is: ", type(s1))

Set from a tuple :  {1, 2, 3, 4, 5, 6}  type is:  <class 'set'>

In [37]:
#37. Convert a set to a tuple.
s1 = {1, 2, 3, 4, 5, 6}
t1 =  tuple(s1)
print("Tuple from a set : ", t1, " type is: ", type(t1))

Tuple from a set :  (1, 2, 3, 4, 5, 6)  type is:  <class 'tuple'>

In [38]:
#38. Find the maximum value in a set.
s1 = {1, 2, 3, 4, 5, 6}
print("Maximum value from a set is: ", max(s1))

Maximum value from a set is:  6

In [39]:
#39. Find the minimum value in a set.
s1 = {1, 2, 3, 4, 5, 6}
print("Minimum value from a set is: ", min(s1))

Minimum value from a set is:  1

In [40]:
#40. Create a set from user input.
s1 = set()
while True:
    a = input("enter a number to create/add to a set: ")
    if int(a) == -1:
        break
    s1.add(int(a))

print("The set with inputed data is: ", s1)

enter a number to create/add to a set:  3
enter a number to create/add to a set:  6
enter a number to create/add to a set:  3
enter a number to create/add to a set:  9
enter a number to create/add to a set:  6
enter a number to create/add to a set:  3
enter a number to create/add to a set:  101
enter a number to create/add to a set:  -1

The set with inputed data is:  {9, 3, 101, 6}

In [41]:
#41. Check if the intersection of two sets is empty.
s1 = {2, 3, 5, 6, 8, 9}
s2 = {1, 10, 4, 7}
print("intersection of two sets are empty: ", 
      len(s1.intersection(s2)) == len(s2.intersection(s1)) == 0)

intersection of two sets are empty:  True

In [42]:
#42. Create a set of the first 5 Fibonacci numbers.

In [25]:

def fibonacci(n):
    a = [0, 1]
    [a.append(a[-1]+a[-2]) for i in range(n)]
    return set(a)
s = fibonacci(5)
print("First 5 Fiboncci numbers are: ", s)

First 5 Fiboncci numbers are:  {0, 1, 2, 3, 5, 8}

In [43]:
#43. Remove duplicates from a list using sets.
l1 = [1, 2, 5, 3, 6, 3, 7, 6, 2]
s1 = set(l1)
print("A set, after removed duplicates from a list: ", s1)

A set, after removed duplicates from a list:  {1, 2, 3, 5, 6, 7}

In [44]:
#44. Check if two sets have the same elements, regardless of their count.

s1 = {1, 2, 5, 3, 6, 3, 7, 6}
s2 = {1, 2, 5, 3, 6, 3, 7, 6, 2}
print("Are these 2 sets are equal? : ", s1 == s2)

Are these 2 sets are equal? :  True

In [45]:
#45. Create a set of the first `n` powers of 2.
def n_pow_2(x):
    return pow(x, 2)

n = int(input("Enter a number to find first 'n' powers of 2:"))
s1 = set()
for i in range(1, n+1):
    s1.add(n_pow_2(i))

print("A set of the first 'n' powers of 2:", s1)

Enter a number to find first 'n' powers of 2: 7

A set of the first 'n' powers of 2: {1, 4, 36, 9, 16, 49, 25}

In [46]:
#46. Find the common elements between a set and a list.
l1 =  (1, 2, 5, 3, 6, 4, 7, 9)
s1 =  {1, 2, 5, 3, 6, 3, 7, 6}
print("Common elements between a set and a lists are : ", s1.intersection(l1))

Common elements between a set and a lists are :  {1, 2, 3, 5, 6, 7}

In [47]:
#47. Create a set of the first `n` triangular numbers.

In [26]:
n = int(input("Enter a number create triangular numbers: "))
tri_nums = set()
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    tri_nums.add(tri_num)

print(tri_nums)

Enter a number create triangular numbers:  10

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [48]:
#48. Check if a set contains another set as a subset.
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}
print("Contains another set as a subset: ", s1.issubset( s2 ))

s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5, 6, 7}

print("Contains another set as a subset: ", s1.issubset( s2 ))

Contains another set as a subset:  True
Contains another set as a subset:  True

In [49]:
#49. Create a set of alternating 1s and 0s of length `n`.
n = int(input("Enter a number to create a set with 1s and 0s: "))

s1 = set()
for i in range(1, n+1):
    s1.add( i%2 )

#set will not allow duplicate so the o/p would be {0, 1} or {1, 0}
print("Here is the final set with 1s and 0s: ", s1)

Enter a number to create a set with 1s and 0s:  8

Here is the final set with 1s and 0s:  {0, 1}

In [50]:
#50. Merge multiple sets into one.
s1 = {1, 2, 3, 4, 5}
s2 = {11, 12, 13, 14, 15, 16, 17}
s3 = {21, 22, 23, 24, 25, 26, 27}

print("Here is the final set after merged multiple sets: ", s1.union(s2).union(s3))

Here is the final set after merged multiple sets:  {1, 2, 3, 4, 5, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27}